<p-toast></p-toast>
<div class="grid m-0">
    <div class="col-0 md:col-8 p-0 m-0 h-screen flex flex-column align-items-center justify-content-center">
        <img class="login-img" src="assets/demo/images/auth/login-cover.png" alt="Foto de portada">
        <img class="col-0 login-img-overlay" src="assets/demo/images/auth/logo-workmate-white.png"
            alt="Foto de portada">
    </div>
    <div class="col-12 md:col-4 h-screen flex flex-column align-items-center justify-content-center">
        <div class="card text-center p-fluid w-full md:w-9">

            <img class="login-logo my-6 max-w-10rem" src="assets/demo/images/auth/logo-workmate.png"
                alt="Logo Workmate" />

            <!-- Step 1. Email -->
            <ng-container *ngIf="step === 0">
                <div class="text-900 text-xl font-bold mb-2">Restablecer contraseña</div>
                <div class="text-600 font-medium mb-6">Ingrese su correo, le enviaremos un código de
                    verificación para restablecer su contraseña</div>
                <form [formGroup]="emailForm" (ngSubmit)="handleEmailFormSubmit()" class="text-left">
                    <div class="field">
                        <label for="email">Correo electrónico</label>
                        <span class="p-input-icon-left mb-1">
                            <i class="pi pi-envelope"></i>
                            <input id="email" type="text" pInputText placeholder="Correo electrónico"
                                formControlName="email" />
                        </span>
                        <small class="ng-dirty ng-invalid p-error" *ngIf="hasError(email, 'required')">Campo
                            obligatorio</small>
                        <small class="ng-dirty ng-invalid p-error" *ngIf="hasError(email, 'email')">Correo no
                            válido</small>
                    </div>
                    <div class="flex gap-3">
                        <button pButton pRipple label="Volver" class="p-button-outlined mt-3" type="button"
                            [loading]="isLoading" [routerLink]="['/auth']"></button>
                        <button pButton pRipple label="Enviar" class="mt-3" type="submit"
                            [loading]="isLoading" [disabled]="emailForm.invalid"></button>
                    </div>
                </form>
            </ng-container>

            <!-- Step 2. Code -->
            <ng-container *ngIf="step === 1">
                <div class="text-900 text-xl font-bold mb-2">Verificación</div>

                <form [formGroup]="verificationCodeForm" (ngSubmit)="handleVerificationCodeForm()">
                    <div class="text-600 font-medium mb-6">Le hemos enviado el código de verificación a su correo
                        electrónico: {{email?.value}}
                    </div>
                    <div class="field flex justify-content-center align-items-center gap-3">
                        <input formControlName="value1" pInputText formControlName="value1" pKeyFilter="num"
                            class="w-3rem text-center" maxlength="1" (input)="onDigitInput($event)"
                            (paste)="onPaste($event)" />
                        <input formControlName="value2" pInputText formControlName="value2" pKeyFilter="num"
                            class="w-3rem text-center" maxlength="1" (input)="onDigitInput($event)"
                            (paste)="onPaste($event)" />
                        <input formControlName="value3" pInputText formControlName="value3" pKeyFilter="num"
                            class="w-3rem text-center" maxlength="1" (input)="onDigitInput($event)"
                            (paste)="onPaste($event)" />
                        <input formControlName="value4" pInputText formControlName="value4" pKeyFilter="num"
                            class="w-3rem text-center" maxlength="1" (input)="onDigitInput($event)"
                            (paste)="onPaste($event)" />
                        <input formControlName="value5" pInputText formControlName="value5" pKeyFilter="num"
                            class="w-3rem text-center" maxlength="1" (input)="onDigitInput($event)"
                            (paste)="onPaste($event)" />
                        <input formControlName="value6" pInputText formControlName="value6" pKeyFilter="num"
                            class="w-3rem text-center" maxlength="1" (input)="onDigitInput($event)"
                            (paste)="onPaste($event)" />
                    </div>
                    <small class="ng-dirty ng-invalid p-error" *ngIf="hasVerificationCodeError()">Campo
                        obligatorio</small>
                    <div class="my-3">
                        <small class="p-text-secondary" *ngIf="!isResendEmailEnabled">Reenviar correo en
                            {{secondLeft}}</small>
                        <p-button label="Reenviar correo" styleClass="p-button-link w-auto" *ngIf="isResendEmailEnabled"
                            (click)="handleResendClick()" [loading]="isLoading"></p-button>
                    </div>
                    <div class="flex gap-3">
                        <button pButton pRipple label="Volver" class="p-button-outlined mt-3" type="button"
                            [loading]="isLoading" [routerLink]="['/auth']"></button>
                        <button pButton pRipple label="Validar" class="mt-3" type="submit"
                            [loading]="isLoading" [disabled]="verificationCodeForm.invalid"></button>
                    </div>
                </form>
            </ng-container>

            <!-- Step 3. New password -->
            <ng-container *ngIf="step === 2">
                <div class="text-900 text-xl font-bold mb-2">Restablecer contraseña</div>
                <div class="text-600 font-medium mb-6">Por favor, ingrese su nueva contraseña. </div>
                <form [formGroup]="passwordForm" (ngSubmit)="handlePasswordForm()" class="text-left">
                    <div class="field">
                        <label for="newPassword">Nueva contraseña</label>
                        <span class="p-input-icon-left p-input-icon-right mb-1">
                            <i class="pi pi-lock z-2"></i>
                            <input id="newPassword" [type]="isPasswordVisible ? 'text' : 'password'" pInputText
                                placeholder="Contraseña" formControlName="newPassword" />
                            <i class="pi pi-info-circle" pTooltip="Tu contraseña debe contener:
                                Entre 8 y 55 caracteres
                                Mínimo 1 mayúscula 
                                Mínimo 1 minúscula 
                                Mínimo 1 número 
                                Mínimo 1 caracter especial " tooltipPosition="top" style="
                                right: 2.5rem;
                                color: #83888f;
                            "></i>
                            <i class="pi {{isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'}}"
                                (click)="togglePasswordVisibility()"></i>
                        </span>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'required')">Campo
                            obligatorio</small>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'hasUpperCase')">Debe contener al menos una letra mayúscula</small>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'hasLowerCase')">Debe contener al menos una letra minúscula</small>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'hasNumber')">Debe contener al menos un número</small>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'hasSpecialCharacter')">Debe contener al menos un caracter especial</small>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'minLength')">Debe tener al menos 8 caracteres</small>
                        <small class="error-small ng-dirty ng-invalid p-error" *ngIf="hasError(newPassword, 'maxLength')">Debe tener a lo más 55 caracteres</small>

                    </div>
                    <div class="field">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <span class="p-input-icon-left p-input-icon-right w-auto">
                            <i class="pi pi-lock z-2"></i>
                            <input id="confirmPassword" [type]="isPasswordVisible ? 'text' : 'password'" pInputText
                                placeholder="Confirmar contraseña" formControlName="confirmPassword" />
                            <i class="pi {{isPasswordVisible ? 'pi-eye-slash' : 'pi-eye'}}"
                                (click)="togglePasswordVisibility()"></i>
                        </span>
                        <small class="ng-dirty ng-invalid p-error" *ngIf="hasError(confirmPassword, 'required')">Campo
                            obligatorio</small>
                        <small class="ng-dirty ng-invalid p-error" *ngIf="hasError(passwordForm, 'passwordNoMatch')">Las
                            contraseñas no son idénticas</small>

                    </div>
                    <button pButton pRipple label="Actualizar" class="mt-3" type="submit"
                        [loading]="isLoading" [disabled]="passwordForm.invalid"></button>
                </form>
            </ng-container>
        </div>
    </div>
</div>