<div class="p-3">
  <div class="border-1 surface-border cursor-pointer z-index border-round" (click)="navigateToDetail()">
      <div class="relative">
          <img [src]="'assets/demo/images/blog/blog-1.png'" class="w-full" />
          <img [src]="post.profile" class="flex absolute w-4rem h-4rem" style="bottom: -1.5rem; right: 1.5rem" />
      </div>
      <div class="p-4">
          <div class="text-900 font-semibold text-xl mb-3">{{ post.title | uppercase  }}</div>
          <div class="text-600 font-semibold text-xl">{{ post.category }}</div>
          <p class="text-700 text-lg mt-0 mb-5">{{ post.description }}</p>

          <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
              <span class="flex align-items-center text-900">
                  <i class="pi pi-comment mr-2"></i>
                  <span class="font-semibold">{{ getRandomNumber() }}</span>
              </span>
              <span class="flex align-items-center text-900">
                  <i class="pi pi-share-alt mr-2"></i>
                  <span class="font-semibold">{{ getRandomNumber() }}</span>
              </span>
              <span class="flex align-items-center text-900">
                  <i class="pi pi-clock mr-2"></i>
                  <span class="font-semibold mr-1">{{ post.createdAt | date: 'd' }}</span>
                  <span class="font-semibold">{{ post.createdAt | date: 'MMMM' }}</span>
              </span>
          </div>
      </div>
  </div>
</div>
